

.linkstyle{
font-weight: 600;
background-color: #10375c;
border-radius: 10px;
color: #ffffff;
margin: 10px;
padding: 5px;

 
}

#description{
  font-size: larger;
  font-weight: bold;
  color:  #116979;
  margin: 10px;
}
#title{
  font-size: x-large;
  font-weight: bold;
  margin: 10px;
  color: #10375c;
}

/* style dropdown*/

#AusStates {
  margin: 10px;
  border: 1px solid #CCC;
}
