

.linkstyle{

color: teal;
margin: 10px;

 
}

#description{
  font-size: larger;
  font-weight: bold;
  color:  #116979;
  margin: 10px;
}
#title{
  font-size: x-large;
  font-weight: bold;
  margin: 10px;
  color: #10375c;
}